@font-face {
  font-family: Title;
  src: url(/hub/fonts/wayfarers-toy-box.ttf);
}

:root{
    --background : #1b6444dc;
    --boxes : #0000002a;

    --titres : #a5d8c2;
    --hover : #000000;
    --texte : #a5d8c2;
    --separations : #1b6444a5;
    cursor : url("/hub/img/leaf.cur"), auto;
}

html{
    background-image: url(../img/back_nature.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--texte);
    font-family: "Aldrich", monospace;
    cursor : url("/hub/img/leaf.cur"), auto;
}

body{
    font-size: 1.3750em;
}

header{
    background-color: var(--background);
    border-radius: 10px;
    margin: 2%;
    padding: 0.65em;
}

p{
    width: 74%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}



title{
  font-family: Title;
}

.menu{
	text-align: center;
	text-decoration: none;
  display: inline-block;
}

.menu > a{
    padding: 0.65em;
	transition-property: background-color, color;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	border-radius: 5px;
}

.menu > a:current{
    color: var(--texte);
}

.menu > a:hover{
    color: var(--hover);
    
}

a {
    color: var(--texte);
}

a:hover{
    cursor : url("/hub/img/leaf.cur"), auto;
    color : var(--hover);
}

a:visited{
    color: var(--texte);
}

#heading{
  padding-top: 2px;
  font-family: Title;
  text-align: center;
}

#canvas{
  background-color: var(--background);
  border-radius: 10px;
  margin: 2% 2% 3%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 0.65em;
  text-decoration: none;  
  margin-bottom: 3%;  
}


span{
  color: var(--titres);
}


footer{
  bottom: 0;
  text-align: center;
  padding: 10px;
  color: var(--texte);
}

hr{
  width: 100%; 
  height: 1px; 
  background-color: var(--separations); 
  border: none;
}

h2{
    font-size: 20px;
    font-family: Title;
    color: var(--titres);
    text-align: center;
    margin-top: 0;
}

h3{
    font-size: 25px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    color: var(--titres);
    margin-top: 8px;
}

h4{
    font-size: 20px;
    color: var(--titres);
    text-align: center;
    margin-top: 0;
}

nav > a:hover {
    color: var(--hover);
}

.champi{
  text-align: center;
}

/* Members badges */
#members{
    bottom: 0;
    text-align: center;
    color: var(--texte);
}

#members > a{
    margin: 10px;
    text-align: center;
}

#member_img{
    height: 31px;
    width: 88px;
    box-sizing: border-box;
}



/* Tree animation */
#tree{
    display: grid;
    grid-auto-flow: column;
}

.box{
    align-self: end;
    justify-self: center;
}

.treeList {
    padding-left: 0;
    list-style-type:none;
    resize:none;
    white-space: pre;
}

.treeList li {
    resize:none;
}

.treeList li:nth-child(1) {
    animation:animateBranches1 20s linear infinite
  }
  .treeList li:nth-child(2) {
    animation:animateBranches2 20s linear infinite;
    animation-delay:0.5s
  }
  .treeList li:nth-child(3) {
    animation:animateBranches3 20s linear infinite;
    animation-delay:1s
  }
  .treeList li:nth-child(4) {
    animation:animateBranches4 20s linear infinite;
    animation-delay:1.5s
  }
  .treeList li:nth-child(5) {
    animation:animateBranches5 20s linear infinite;
    animation-delay:2s
  }
  .treeList li:nth-child(6) {
    animation:animateBranches6 20s linear infinite;
    animation-delay:2s
  }
.treeList li:nth-child(7) {
    animation:animateBranches5 20s linear infinite;
    animation-delay:2s
}
.treeList li:nth-child(8) {
    animation:animateBranches6 20s linear infinite;
    animation-delay:2s
}
.treeList li:nth-child(9) {
    animation:animateBranches5 20s linear infinite;
    animation-delay:2s
}

  @keyframes animateBranches1 {
    0% {
      transform:translateX(0)
    }
    25% {
      transform:translateX(-14px)
    }
    50% {
      transform:translateX(0)
    }
    75% {
      transform:translateX(14px)
    }
    100% {
      transform:translateX(0)
    }
  }
  @keyframes animateBranches2 {
    0% {
      transform:translateX(0)
    }
    25% {
      transform:translateX(-10px)
    }
    50% {
      transform:translateX(0)
    }
    75% {
      transform:translateX(10px)
    }
    100% {
      transform:translateX(0)
    }
  }
  @keyframes animateBranches3 {
    0% {
      transform:translateX(0)
    }
    25% {
      transform:translateX(-8px)
    }
    50% {
      transform:translateX(0)
    }
    75% {
      transform:translateX(8px)
    }
    100% {
      transform:translateX(0)
    }
  }
  @keyframes animateBranches4 {
    0% {
      transform:translateX(0)
    }
    25% {
      transform:translateX(-6px)
    }
    50% {
      transform:translateX(0)
    }
    75% {
      transform:translateX(6px)
    }
    100% {
      transform:translateX(0)
    }
  }
  @keyframes animateBranches5 {
    0% {
      transform:translateX(0)
    }
    25% {
      transform:translateX(-5px)
    }
    50% {
      transform:translateX(0)
    }
    75% {
      transform:translateX(5px)
    }
    100% {
      transform:translateX(0)
    }
  }
  @keyframes animateBranches6 {
    0% {
      transform:translateX(0)
    }
    25% {
      transform:translateX(-3px)
    }
    50% {
      transform:translateX(0)
    }
    75% {
      transform:translateX(3px)
    }
    100% {
      transform:translateX(0)
    }
}

/* Responsive */

@media screen and (max-width: 700px) {
  #canvas{
      width: 100%;
  }

}
